  
  .row-img{
    margin: 50px 50px !important;
    text-align: center;
    }

 
  
  /* --------------------------------------------- */


  .program1-body-content{
    width: 100%;
      background-color: white;
    background-size: 100% 100%;
    border: none;
  
  }

  .program1-content{
    background:rgba(0,0,0,0.6);
    opacity:0.9;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    height: 100%;
  }

 

  .program1-card-title{
      color: #00adef;
      text-align: center;
      font-size: 40px;
  }

  

  .program1-card-details{
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 10px 20px;
  }

  .program1-title {
    color: #00aeed;
    text-align: center;

    font-size: 50px;
    margin: 50px 0px 0px 0px;
}


.activeTab{
    color: #00adef !important;
}





@media (max-width: 992px) {
    .program1-card {
        padding: 20px;
    }
    .program1-card-content {
        /* margin: 50px 100px; */
        border: 2px solid white;
    }
}

@media (min-width: 992px) {
    .program1-card{
        padding: 50px;
    
      }
      .program1-card-content {
        margin: 50px 100px;
        border: 2px solid white;
    }
}
